body {
  margin: 0;
  background-color: #f5f9fe;
  font-size: 1rem;
}

header {
  padding: 70px 0;
}
header nav {
  background-color: #2a73dd;
}
header nav .container a {
  font-size: 20px;
  color: #f5f9fe !important;
}
header nav .container .nav1 .nav-link, header nav .container .nav2 .nav-link {
  transition: all 0.3s;
}
header nav .container .nav1 .nav-link:hover, header nav .container .nav2 .nav-link:hover {
  transform: scale(1.15);
}

#content-wrap main {
  background-color: #fff;
}
#content-wrap main .phoneBanner {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #2a73dd;
  color: #f5f9fe;
}
#content-wrap main .phoneBanner button {
  background-color: #FFBF00;
  color: #f5f9fe;
  font-weight: 600;
}
#content-wrap main table th {
  font-weight: bold;
  font-size: 1.1rem;
}

.modal .modal-dialog .modal-content header {
  padding: 0;
}
.modal .modal-dialog .modal-content header h3 {
  padding-top: 15px;
  text-align: center;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  color: #3e403f;
}
.modal .modal-dialog .modal-content .modal-body #formPhone {
  width: 450px;
  min-height: 500px;
  border-radius: 5px;
  height: auto;
  margin: 2%;
  box-shadow: 0 9px 50px hsla(216, 83%, 68%, 0.31);
  padding: 2%;
  background-image: linear-gradient(250deg, #e3ecfd, #fff0e8);
}
.modal .modal-dialog .modal-content .modal-body #formPhone .input-group-text {
  padding: 0.7rem 0.75rem;
}
.modal .modal-dialog .modal-content .modal-body #formPhone .form-group {
  padding: 5px 0;
}
.modal .modal-dialog .modal-content .modal-body #formPhone .form-group .sp-thongbao {
  color: red;
  margin-left: 40px;
  display: none;
}
.modal .modal-dialog .modal-content .modal-body #formPhone select {
  height: auto;
}

#tBodySP img {
  width: 110px;
  height: 110px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-clean {
  padding: 30px;
  background-color: #fff;
}
.footer-clean footer a {
  font-size: 13px;
}
.footer-clean footer ul {
  padding-left: 0;
}
.footer-clean footer ul li {
  list-style: none;
}
.footer-clean footer ul li a {
  text-decoration: none;
  color: #3e403f;
  opacity: 0.8;
  transition: 0.3s;
}
.footer-clean footer ul li a:hover {
  opacity: 1;
  color: #3e403f;
}
.footer-clean footer .social {
  text-align: right;
}
.footer-clean footer .social a {
  font-size: 24px;
  display: inline-block;
  opacity: 0.8;
  color: #3e403f;
  width: 40px;
  height: 40px;
  border: 1px solid #3e403f;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.footer-clean footer .social .copyright {
  margin-top: 10px;
  color: #3e403f;
  opacity: 0.8;
  text-align: right;
}/*# sourceMappingURL=adminDashboard.css.map */