body {
  background-color: #f5f9fe;
}

header {
  background-color: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
}
header .title {
  color: #2a73dd;
}
header .nav .nav-item {
  padding: 20px;
}
header .nav .nav-link {
  color: #1d365e;
  font-weight: 500;
  transition: all 0.5s;
}
header .nav .nav-link.nav-link:hover {
  color: #2a73dd;
}
header .nav .nav-link.nav-link:hover.nav-link::after {
  transform: scaleX(1);
}
header .nav .nav-link.nav-link::after {
  transition: all 0.5s;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  background-color: #2a73dd;
}
header .nav .nav-link.active {
  color: #2a73dd;
}
header .nav .nav-link.active::after {
  transform: scaleX(1);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.carousel .item {
  width: 100%;
  height: 300px;
}
.carousel .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

#productBrand {
  margin-bottom: 20px;
}

select {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.5s ease-in-out;
  border-radius: 8px;
  width: 10rem;
}
select:focus {
  outline: none;
  border-color: #6c63ff;
}
select:hover {
  border-color: #999;
}
select option {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
select option:nth-child(n+2) {
  transition-delay: 0.5s;
}

@keyframes optionAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
select:focus option {
  animation: optionAnimation 0.5s ease-in-out forwards;
}

#product {
  margin-top: 32px;
}

.card {
  padding: 20px;
  height: 100%;
}
.card .card-body {
  padding: 20px 0 0 0;
}
.card .card-footer {
  padding: 10px 0 0 0;
}
.card #addToCartBtn {
  position: absolute;
  right: 20px;
}
.card .card-title {
  margin-bottom: 3px;
}

.product_image {
  margin: -20px -20px -10px -20px;
  position: relative;
}
.product_image img {
  padding: 20px;
}
.product_image:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.product_detail {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart {
  position: fixed;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100vh;
  background-color: #fff;
  transition: right 0.5s;
  z-index: 98;
  padding: 20px;
}
.cart h3 {
  margin-top: 20px;
}
.cart .cartContent {
  margin-top: 20px;
}
.cart .cartContent .card-body {
  margin-bottom: 10px;
  padding: 0;
}
.cart .cartContent .card-body p {
  margin-bottom: 2px;
}
.cart .cartContent .card-body p small {
  font-weight: bold;
  color: black !important;
}
.cart .cartContent .card-body a {
  color: red;
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.cart .cartContent .card-body .price {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
}
.cart .cartContent .cartInfo {
  padding-top: 10px;
  padding-left: 20px;
}
.cart .cartContent .action {
  justify-content: space-between;
  display: flex;
  padding: 0px 20px 0 20px;
}
.cart .cartContent .cartProduct {
  max-height: calc(100vh - 280px); /* Adjust the value as needed */
  overflow-y: auto;
}
.cart .cartContent .cartProduct .card {
  padding: 35px;
}
.cart .cartContent .cartProduct .card .card-body a {
  top: 8px;
}
.cart .cartContent .cartProduct .card .card-body .price {
  bottom: 10px;
}

.quantity {
  padding-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}
.quantity input {
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}
.quantity button:active {
  background-color: #e0e0e0;
  transform: scale(0.9);
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 97;
  pointer-events: none;
}

.cart.active {
  right: 0;
}

.cart-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.cart.active + .cart-overlay {
  opacity: 1;
  pointer-events: auto;
}

#cartBtn {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2a73dd;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: 0.5s;
}

#cartBtn:hover {
  background-color: #1d365e;
}

.footer-clean {
  margin-top: 50px;
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}
.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}
.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}
.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer-clean ul a:hover {
  opacity: 1;
}
.footer-clean .item.social {
  text-align: right;
}
.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}
.footer-clean .item.social > a:hover {
  opacity: 0.9;
}
@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
  .footer-clean .item.social {
    text-align: center;
  }
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}
.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}/*# sourceMappingURL=customerStyle.css.map */