@import 'colors';
body {
    margin: 0;
    background-color: $color-white-1;
    font-size: 1rem;
   
}
header {
    padding:70px 0;
    nav {
        background-color: $color-blue-1;
        .container {
            a {
                font-size: 20px ;
                color: $color-white-1 !important;
            }
            .nav1,.nav2 {
                .nav-link{   
                    transition: all 0.3s;
                    &:hover{
                        transform: scale(1.15);        
                    }
                }
               
            }
            
        }
        }
       
   
}
// tabale
#content-wrap {
    main {
        background-color: #fff;
        .phoneBanner {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
    
            background-color: $color-blue-1;
            color: $color-white-1;
            button {
                background-color: $color-yellow-1;
                color: $color-white-1;
                font-weight: 600;
            }

        }
        table {
            th {
                font-weight:bold  ;
                font-size: 1.1rem;
            }
        }
    }
}
// modal
.modal {
    .modal-dialog{
        .modal-content {
            header {
                padding:0;
                h3 {
                    padding-top: 15px;
                    text-align: center;
                    font-size: 40px;
                    font-family: 'Playfair Display', serif;
                    color: $color-black-1;
                }
            }
            .modal-body {
                #formPhone {
                    width: 450px;
                    min-height: 500px;
                    border-radius: 5px;
                    height: auto;
                    margin: 2% ;
                    box-shadow: 0 9px 50px hsla(216, 83%, 68%, 0.31);
                    padding: 2%;
                    background-image: linear-gradient(250deg, #e3ecfd, #fff0e8);
                    .input-group-text {
                        padding: 0.7rem 0.75rem;
                    }
                    .form-group {
                        padding: 5px 0;
                        .sp-thongbao {
                            color: red;
                            margin-left:40px;
                            display: none;
                        }
                    }
                    select {
                        height: auto;

                    }
                }
            }
        }
      }
}
// tbody 
#tBodySP {
    img {
        width: 110px;
        height: 110px;
        object-fit: contain;
    }
}
// footer 
.footer-clean{
    padding:30px;
    background-color: #fff;
    footer {
        a {
            font-size: 13px;
        }
        ul {
            padding-left:0;
            li {
                a {
                    text-decoration: none;
                    color: $color-black-1;
                    opacity: 0.8;
                    transition: 0.3s;
                  
                }
                a:hover {
                    opacity: 1;
                    color: $color-black-1;
                }
                list-style: none;
            }
        }
        .social {
            text-align: right;
            a {
                font-size: 24px;
                display: inline-block;
                opacity: 0.8;
                color: $color-black-1;
                width: 40px;
                height: 40px;
                border: 1px solid $color-black-1;
                text-align: center;
                line-height: 40px;
                margin-right: 10px;
                border-radius: 50%;
            }
            .copyright {
                margin-top: 10px;
                color: $color-black-1;
                opacity: 0.8;
                text-align: right;
            }
    
        }
    }
}