$background: rgba(45, 45, 45, 0.8);

body,
html {
  height: 100%;
}

.bg_img {
  position: relative;
  height: 100%;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
  }

  .container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}

.card {
  background-color: $background;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  cursor: pointer;
  height: 260px;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.08),
    transparent 40%
  );
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms;
  border-radius: inherit;
  z-index: 2;
}

h1,
h2,
h3,
h4,
span {
  color: rgb(255, 255, 255);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

i {
  color: rgb(255, 255, 255) !important;
}

.card-content {
  height: 100%;
}

.admin {
  background-image: url("../img/admin.jpg");
}

.user {
  background-image: url("../img/product.jpg");
}

.card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  height: 180px;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  > i {
    font-size: 6em;
    opacity: 0.25;
  }
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
  margin-top: 15px;
}

.card-info {
  bottom: 10px;
  display: flex;
  gap: 10px;

  > i {
    color: white;
    font-size: 1em;
    height: 20px;
    line-height: 20px;
  }
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}
